@font-face {
  font-family: 'gotham';
  src: url('../fonts/gotham'), 
  url('../fonts/gotham.woff') format('woff');
}
@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook'), 
  url('../fonts/GothamBook.woff') format('woff');
}
@font-face {
  font-family: 'gotham-medium-webfont';
  src: url('../fonts/gotham-medium-webfont'), 
  url('../fonts/gotham-medium-webfont.woff') format('woff'), 
  url('./gotham-medium-webfont.woff2') format('woff2'); 
}
